---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Error 404">
	<main>
        <div class="flex flex-col flex space-y-4 py-20">
            <h1 class="text-center text-4xl text-white font-bold">404. Page not found</h1>
            <img class="mx-auto" src="/error404.png" alt="404" />
        </div>
	</main>
</Layout>

<style>
	
</style>