---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Chat">
  <main class="font-sans">
    <div class="max-w-full mx-auto my-10 rounded-md shadow-lg bg-gray-800">
        <div class="p-4 chat-container overflow-y-auto h-[480px]"></div>
    </div>
  </main>
</Layout>
