---
import Layout from '../layouts/Layout.astro';
import Input from '../components/Input.astro';

---
<Layout title="Chat">
    <main class="font-sans">
        <div class="max-w-full mx-auto my-8 rounded-md overflow-hidden shadow-md ml-80 mr-80">
            <div class="p-4 chat-container overflow-y-auto h-[480px]"></div>
            <script src="/src/js/load_questions"></script>
            <Input/>
        </div>
    </main>
</Layout>
