---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Contact">
	<main>
        <div class="flex items-center my-20 gap-20 md:flex-row flex-col justify-center">
            <Card href="" title="Phone" body="+34 622416076" />
            <Card href="https://github.com/JonayVE-ull" title="Github" body="JonayVE-ull" />
            <Card href="/contact" title="Email" body="alu0101398198@ull.edu.es" />
        </div>
	</main>
</Layout>

<style>
	
</style>