---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to ChatULL.">
	<main class="font-sans">
        <div class="p-10">
            <div class="flex flex-col md:flex-row items-center justify-center">
                <div class="description flex flex-col items-center md:items-start justify-center mx-10 md:mx-40">
                    <h1 class="text-3xl font-extrabold text-center md:text-left">Tu asistente sobre guías docentes universitarias</h1>
                    <p class="text-lg text-center md:text-left mt-4">
                        ChatULL es una aplicación web que te permite consultar información sobre las guías docentes de la Universidad de La Laguna.
                    </p>
                </div>
                <div class="flex items-center justify-center mt-4">
                    <img src="/icon.png" alt="ChatULL" class="w-1/2" />
                </div>
            </div>
            <div class="flex items-center justify-center">
                <button class="btn btn-lg btn-wide mt-8 bg-[#5C068C] text-white hover:bg-[#4A056C]">
                    <a href="/set_api_key" class="">Comenzar a usar ChatULL</a>
                </button>
            </div>
        </div>
    </main>
		
</Layout>

<style>
	
</style>