---
interface Props {
}
---

<!--

<div class="flex flex-col items-center justify-center mt-20 space-y-5 mx-20">
    <h1 class="text-7xl text-purple-700 font-bold titulo text-center">ChatULL</h1>
    <div class="flex space-x-5 items-center justify-center">
        <a href="/chat" class="bg-purple-700 hover:bg-purple-800 text-white font-bold py-2 px-4 rounded">
            Chat
        </a>
        <a href="/about" class="bg-purple-700 hover:bg-purple-800 text-white font-bold py-2 px-4 rounded">
            About
        </a>
        <a href="/contact" class="bg-purple-700 hover:bg-purple-800 text-white font-bold py-2 px-4 rounded">
            Contact
        </a>
    </div>
</div>
-->

<style>

</style>
