---

---

<div class="px-4 py-2 input-chat hidden">
    <div class="relative">
      <input type="text" class="w-full border border-gray-200 rounded-lg py-2 px-4 pl-10 pr-12 focus:outline-none focus:border-blue-500 chat-input" placeholder="Escribe tu pregunta...">
      <button class="absolute inset-y-0 right-0 px-4 py-2 rounded-r-lg hover:bg-purple-700 focus:outline-none chat-button">
        <i class="fas fa-paper-plane"></i> <!-- Icono de enviar -->
      </button>
    </div>
    <div class="relative px-2 py-2 text-center text-xs text-token-text-secondary md:px-[60px]"><span>ChatULL puede cometer errores, por favor, no confíes ciegamente en sus respuestas.</span></div>
</div>
