<input type="checkbox" id="modal_crear_chat" class="modal-toggle" />
<div class="modal" role="dialog">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Crear Chat</h3>
    <div class="flex flex-col p-3 gap-3">
      <input type="text" class="p-3 rounded modal-search" placeholder="Buscador...">
      <ul class="space-y-4 rounded shadow-md modal-list"></ul>
    </div>
  </div>
  <label class="modal-backdrop" for="modal_crear_chat">Close</label>
</div>
