---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';
import "@fontsource/argentum-sans"

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image" href="/icon.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: "Argentum Sans", sans-serif;
		background: #1F2937;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	::-webkit-scrollbar {
      width: 0px;
	  
    }

	.chat-container::-webkit-scrollbar {
      width: 5px;
	  
    }

	.modal-list::-webkit-scrollbar {
	  width: 5px;
	  
	}

	.lateral-menu-div::-webkit-scrollbar {
	  width: 5px;
	}

	::-webkit-scrollbar-thumb {
      background-color: #7e22ce;
      border-radius: 5px;

    }

    ::-webkit-scrollbar-track {
      background-color: #f1f1f100;
    }
	
</style>
